<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<%- include('partials/loader'); %>

<!-- page-wrapper Start-->
<div class="page-wrapper" id="pageWrapper">
    <!-- Page Body Start-->
    <div class="container-fluid p-0">
        <div class="comingsoon">
            <div class="comingsoon-inner text-center">
                <a href="/">
                    <img src="<%= application.host %>:<%= application.port %>/assets/images/logo/logo-1.png" alt="">
                </a>
                <h3 class="mt-5">Welcome to <%= application.name %></h3>
                <p class="txt-info">Please click the button below to see more detailed information.</p>
                <a class="btn btn-primary mt-5" href="<%= application.host %>:<%= application.port %>/">View Documentation</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/tail'); %>
</body>
</html>
